@model inventory_management_system.Models.CrudProp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CrudProp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.prod_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prod_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prod_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prod_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prod_Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prod_Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prod_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prod_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prod_Variant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prod_Variant)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Add")
</p>
