
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product</h1>

<form method="post" action="">
    <table>
        <tr colspan="3">
            <td>Product ID: @Html.TextBox("txtProductID")</td>
        </tr>
        <tr>
            <td>Product Name: @Html.TextBox("txtProductName")</td>
            <td>
                @*draft pa lang bago nalang sa controller ty hehe same sa variant*@
                Type of product:
                @{IEnumerable<String> strProduct = new List<String> { "Juice", "Vape"};} 
                @Html.DropDownList("ddlCourses", new SelectList(strProduct), "Please Select")
            </td>
            <td>
            Variant: 
            @{IEnumerable<String> strVariant= new List<String> { "Juice", "Vape" };}
            @Html.DropDownList("ddlCourses", new SelectList(strVariant), "Please Select")
            </td>
        </tr>
        <tr>
            <td>Total Stock: @Html.TextBox("txtStock")</td>
        </tr>
        <tr>
            <td><input type="submit" value="Add" /></td>
            <td><input type="submit" value="Edit" /></td>
            <td><input type="submit" value="Clear" /></td>
        </tr>
    </table>

</form>

